<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>William Vance</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>

<!--Navbar code-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<nav class="navbar navbar-dark bg-dark">
  <div class="d-flex" style="gap: 15px;">
    <button class="btn btn-outline-info ms-3">Home</button>
    <button class="btn btn-outline-info">Hobbies</button>
    <button class="btn btn-outline-info">Projects</button>
  </div>
  <!--Code for the Icon in the nav bar-->
  <div class="d-flex">
    <img src="../resources/img/11-20-20.png" alt="icon" width="50" height="50" style="margin-right: 15px; border-radius: 8px;">
  </div>
</nav>

  <body>
    <div class="container mt-5">
      <div class="row align-items-center">
        <div class="col-md-4">
          <img src="../resources/img/11-20-20.png" class="img-fluid rounded" alt="Image of William Vance" width="200";>
        </div>
        <div class="col-md-8">
            <div class="card p-3 shadow-sm" style="background-color: #fffcd3;">
              <div class="card-body">
                <h2 class="card-title">Hi, I'm William Vance</h2>
                <p class="card-text">
                  I'm putting some text here to figure out how this shit works
                </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
